{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "dns": {
    "servers": [
      {
        "tag": "doh-tcp",
        "address": "https://1.1.1.1/dns-query",
        "detour": "direct"
      }
    ],
    "rules": [
      {
        "outbound": "any",
        "server": "doh-tcp"
      }
    ],
    "strategy": "ipv4_only"
  },
  "inbounds": [
    {
      "type": "naive",
      "tag": "naive-in",
      "listen": "127.0.0.1",
      "listen_port": {{NAIVE_PORT}},
      "tcp_multi_path": {{TCP_MULTI_PATH}},
      "users": [
        {
          "username": "{{NAIVE_USER}}",
          "password": "{{NAIVE_PASSWORD}}"
        }
      ],
      "tls": {
        "enabled": true,
        "server_name": "{{NAIVE_SNI}}",
        "min_version": "1.3",
        "kernel_tx": {{KERNEL_TX}},
        "certificate_path": "/data/caddy/certificates/{{ACME_CA_DIR}}/wildcard_.{{DOMAIN}}/wildcard_.{{DOMAIN}}.crt",
        "key_path": "/data/caddy/certificates/{{ACME_CA_DIR}}/wildcard_.{{DOMAIN}}/wildcard_.{{DOMAIN}}.key"
      }
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct",
      "tcp_fast_open": true
    }
  ]
}
